{
  "openapi": "3.0.0",
  "info": {
    "title": "Loft CRM API docs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox-rest.vistahost.com.br",
      "description": "Sandbox server"
    }
  ],
  "paths": {
    "/imoveis/buscaAvancada": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Busca Avançada a dados de imóveis",
        "operationId": "get_rest_imoveis_buscaAvancada",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/listar": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Listagem de imóveis da imobiliária que estão disponíveis",
        "description": "* Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/features/detalhes?key=c9fd79584fb8d369a6a579af1a8f681&v2=1&pesquisa={\"filter\":{\"Codigo\":\"\"}, \"fields\":\"Codigo\",\"paginacao\":{\"pagina\":\"1\",\"quantidade\":\"50\"}}&showtotal=1\n```",
        "operationId": "get_rest_imoveis_listar",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finalidade",
            "in": "query",
            "description": "venda, aluguel, não informe para pesquisar por ambos",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showtotal",
            "in": "query",
            "description": "1|0 Se deve mostrar os totais de páginas e resultados",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "v2",
            "in": "query",
            "description": "1|0",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "mobile_user",
            "in": "query",
            "description": "Usuário logado",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "imoveis",
            "in": "query",
            "description": "Parametro para buscar imóveis locais, da rede e fora da rede/ local,rede,foraDaRede",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/listar": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Listagem de clientes da imobiliária que estão disponíveis",
        "operationId": "get_rest_clientes_listar",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showtotal",
            "in": "query",
            "description": "1|0 Se deve mostrar os totais de páginas e resultados",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/imoveisFavoritos": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Listagem imóveis favoritos de um cliente",
        "operationId": "get_rest_clientes_imoveisfavoritos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "cliente",
            "in": "query",
            "description": "Código do cliente",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/detalhes": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Visualiza os dados de um cliente disponível",
        "operationId": "get_rest_clientes_detalhes",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_ativo",
            "in": "query",
            "description": "Quando passado sim, retorno um campilado dos status configurados, dizendo se é ativo ou não",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clientes"
        ],
        "summary": "Atualiza os dados de um cliente",
        "description": "Atualizar corretor do cliente\n\nAtualizar um corretor do cliente, informar no atributo \"idCorretorAlterar\" o ID do corretor que deseja alterar e informar o ID no atributo \"idCorretorNovo\".\n\n Exemplo 1 (**Atualiza um Corretor**):\n```\n PUT /clientes/detalhes\ncliente=35981\ncadastro={\"fields\":{\"Cliente\": \"35981\",\"idCorretorAlterar\":\"106\",\"idCorretorNovo\":\"78\"}} //Altera o corretor 106 por corretor 78\n\n```",
        "operationId": "put_rest_clientes_detalhes_update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "cliente"
                ],
                "properties": {
                  "cadastro": {
                    "description": "JSON com os dados do cliente a ser cadastrado",
                    "type": "string"
                  },
                  "cliente": {
                    "description": "Código do cliente a ser atualizado",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clientes"
        ],
        "summary": "Inserir um novo cliente",
        "operationId": "post_rest_clientes_detalhes_insert",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "cadastro": {
                    "description": "JSON com os dados do cliente a ser cadastrado",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Operação inválida ou não autorizada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Registro não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "406": {
            "description": "Requisição em formato inválido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Erro interno",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/listarConteudo": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Retorna uma lista de conteúdos distintos de uma informação do imóvel",
        "description": "Listando Conteúdo dos Imóveis\nO endpoint irá retornar um DISTINCT dos campos solicitados, não repetindo dados.\n\nValor do parâmetro \"imoveis\":\nO campo deve ser preenchido com três opções: \"rede\", para listar APENAS imóveis da rede. \"local\", para listar APENAS imóveis locais. \"foraDaRede\", para listar APENAS imóveis locais que não estão vinculados a nenhuma rede\nCaso o campo não seja passado, o endpoint irá consultar em ambas as bases, REDE e LOCAL.\n\n Exemplo de Requisição\n```json\nhttp://sandbox-rest.vistahost.com.br/imoveis/listarConteudo?key=xxxxxx&pesquisa={\"fields\":[\"Categoria\", \"GruposCategoria\"]}&imoveis=local\n```",
        "operationId": "get_rest_imoveis_listarconteudo",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "imoveis",
            "in": "query",
            "description": "Parâmetro que irá definir a busca por dados de imóveis em rede ou não. Opções do parâmetro: rede|local",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/listarConteudo": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Retorna uma lista de conteúdos distintos de uma informação do cliente",
        "description": "Listando Conteúdo dos Clientes\nO endpoint irá retornar um DISTINCT dos campos solicitados, não repetindo dados.\n\nCampos disponíveis\nÉ possível solicitar o conteúdo de qualquer campo listado pelo endpoint clientes/listarCampos, com exceção do \"Codigo\"\n\nAlguns campos são mais comuns de serem solicitados, por exemplo:\n\n```\n\"VeiculoCaptacao\"\n\"Status\"\n\"CidadeResidencial\"\n\"BairroResidencial\"\n\"EnderecoResidencial\"\n\"UF\"\n```\n\n Exemplo de Requisição\n```http://sandbox-rest.vistahost.com.br/clientes/listarConteudo?key=xxxxxx&pesquisa={\"fields\":[\"VeiculoCaptacao\"]}```\n\n\nFiltros\nÉ possivel filtrar o conteúdo de um campo específico:\n\n```http://sandbox-rest.vistahost.com.br/clientes/listarConteudo?key=xxxxxx&pesquisa={\"fields\":[\"CidadeResidencial\"],\"filter\":{\"CidadeResidencial\":\"Sao Jose\"}}```\n\n\nOu de um campo em relação a outro:\n\n```http://sandbox-rest.vistahost.com.br/clientes/listarConteudo?key=xxxxxx&pesquisa={\"fields\":[\"BairroResidencial\"],\"filter\":{\"CidadeResidencial\":\"Sao Jose\"}}```\n\n\nCampos especiais\nLayoutFields: retorna a lista dos campos utilizados no layout do cliente da respectiva base. O conteúdo retornado é referente ao nome da coluna desse campo no banco",
        "operationId": "get_rest_clientes_listarconteudo",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/usuarios/listar": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Listar usuários ativos na imobiliária",
        "description": "*  Retorna uma lista de usuários ativos na imobiliária\nÉ obrigatório informar o valor (json) do campo pesquisa.\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/usuarios/listar?key=83db4be626c295ea3c391a8d85206b03&pesquisa={\"fields\":[\"Empresa\",\"Datacadastro\",\"RGInscricao\",\"RGEmissor\",\"CPFCGC\",\"Foto\",\"Nomecompleto\",{\"Equipe\": [\"Nome\"]}]}\n```\n\n Campos aceitos:\ntodos os campos aceitos para serem enviados na requisição podem ser consultados no endpoint '/usuarios/listarcampos'",
        "operationId": "get_rest_usuarios_listar",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os campos de busca desejados; Campo paginação (json): 'paginacao':{'pagina':1,'quantidade':10}",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showtotal",
            "in": "query",
            "description": "Se deve mostrar os totais de páginas e resultados",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "Dado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Parâmetros inválidos ou chave sem permissão",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Feature não Habilitada para o cliente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/listarcampos": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_imoveis_listarcampos",
        "parameters": [
          {
            "name": "desc",
            "in": "query",
            "description": "Listar a descrição de cada campo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Tipo de campo: imoveis | carac | infra | Agencia | Foto | Corretor | Prontuarios",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disponivelSite",
            "in": "query",
            "description": "Lista apenas campos disponiveis para site",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSite",
            "in": "query",
            "description": "Filtra campos por grupo de site, como carac ou infra",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/listarcampos": {
      "get": {
        "tags": [
          "Clientes"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_clientes_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Listar a descrição de cada campo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Filtrar por categoria de campos",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disponivelSite",
            "in": "query",
            "description": "Lista apenas campos disponiveis para site",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSite",
            "in": "query",
            "description": "Filtra campos por grupo de site, como carac ou infra",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/usuarios/listarcampos": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_usuarios_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Listar a descrição de cada campo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Filtrar por categoria de campos",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disponivelSite",
            "in": "query",
            "description": "Lista apenas campos disponiveis para site",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSite",
            "in": "query",
            "description": "Filtra campos por grupo de site, como carac ou infra",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/chaveiros/listarcampos": {
      "get": {
        "tags": [
          "Chaveiros"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_chaveiros_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Listar a descrição de cada campo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Filtrar por categoria de campos",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disponivelSite",
            "in": "query",
            "description": "Lista apenas campos disponiveis para site",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSite",
            "in": "query",
            "description": "Filtra campos por grupo de site, como carac ou infra",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/retiradas/listarcampos": {
      "get": {
        "tags": [
          "Chaveiros"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_retiradas_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Listar a descrição de cada campo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Filtrar por categoria de campos",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disponivelSite",
            "in": "query",
            "description": "Lista apenas campos disponiveis para site",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSite",
            "in": "query",
            "description": "Filtra campos por grupo de site, como carac ou infra",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agenda/listarcampos": {
      "get": {
        "tags": [
          "Agenda"
        ],
        "summary": "Lista os campos disponíveis para o método listar agenda",
        "operationId": "get_rest_agenda_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Listar a descrição de cada campo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Filtrar por categoria de campos",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disponivelSite",
            "in": "query",
            "description": "Lista apenas campos disponiveis para site",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSite",
            "in": "query",
            "description": "Filtra campos por grupo de site, como carac ou infra",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agencias/listar": {
      "get": {
        "tags": [
          "Agências"
        ],
        "summary": "Retorna uma lista de agências da imobiliária",
        "operationId": "get_rest_agencias_listar",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/agencias/listarcampos": {
      "get": {
        "tags": [
          "Agências"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_agencias_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "Listar a descrição de cada campo",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Filtrar por categoria de campos",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disponivelSite",
            "in": "query",
            "description": "Lista apenas campos disponiveis para site",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fieldSite",
            "in": "query",
            "description": "Filtra campos por grupo de site, como carac ou infra",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/propostas/listarcampos": {
      "get": {
        "tags": [
          "Propostas"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_propostas_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/propostas/inserir": {
      "post": {
        "tags": [
          "Propostas"
        ],
        "summary": "Insert a new proposal record into CDIMPRON (property prontuário)",
        "description": "Required fields in cadastro.fields: CodigoImobiliaria, CodigoImovel, ValorProposta.\nOptional: CodigoProprietario, CodigoNegocio, CodigoCliente, CodigoCorretor, CodigoPropostaErp.",
        "operationId": "post_rest_propostas_insert",
        "parameters": [
          {
            "name": "cadastro",
            "in": "query",
            "description": "JSON with fields: CodigoImobiliaria, CodigoImovel, ValorProposta (required); CodigoProprietario, CodigoNegocio, CodigoCliente, CodigoCorretor, CodigoPropostaErp (optional)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Invalid parameters or key without permission"
          }
        }
      }
    },
    "/negociacoes/listarcampos": {
      "get": {
        "tags": [
          "Negociações"
        ],
        "summary": "Listagem dos campos disponíveis para integração com a API",
        "operationId": "get_rest_negociacoes_listarcampos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/destaques": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Retorna a lista de imoveis em destaque da imobiliária",
        "operationId": "get_rest_imoveis_destaques",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finalidade",
            "in": "query",
            "description": "venda ou aluguel, não informe para pesquisar por ambos",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/finalidades": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Retorna as finalidades da imobiliária: Venda, Aluguel e/ou Temporada",
        "description": "Retorna uma lista de finalides, ou uma lista de status associada as finalides e os status inativos.\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/imoveis/finalidades?key=83db4be626c25ea3c391a8d85206b03&&allStatus=true\n```",
        "operationId": "get_rest_imoveis_finalidades",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "allStatus",
            "in": "query",
            "description": "Parâmetro que quando passado como true ele retorna a lista de status associada as finalidades",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/logotipo": {
      "get": {
        "tags": [
          "Imobiliária"
        ],
        "summary": "Retorna a URL do logotipo da empresa",
        "operationId": "get_rest_logo_url",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/siteurl": {
      "get": {
        "tags": [
          "Imobiliária"
        ],
        "summary": "Retorna a URL do site da imobiliária",
        "operationId": "get_rest_site_url",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/emailauth": {
      "get": {
        "tags": [
          "Imobiliária"
        ],
        "summary": "Retorna credenciais de autenticação de e-mail",
        "operationId": "get_rest_conta_email",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/anexos": {
      "post": {
        "tags": [
          "Clientes"
        ],
        "summary": "Inserir um novo anexo no cadastro cliente",
        "operationId": "post_rest_clientes_anexo_insert",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "cadastro": {
                    "description": "JSON com os dados do anexo a ser cadastrado",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/detalhes": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Visualiza os dados de um imóvel disponível",
        "description": "Consultando detalhes de um imóvel\nÉ obrigatório informar o parâmetro \"imovel\" (string/int) e pesquisa (string/json).\n\n Valor do parâmetro \"imovel\":\nO campo deve ser preenchido com o valor do código de referência do imóvel em questão.\n\n Valor do parâmetro \"pesquisa\":\nO campo deve ser preenchido com o Json, conforme exemplo abaixo:\n\nBody:\n```json\n {\n     \"fields\":[\n         \"Codigo\",\n         \"CodigoCorretor\",\n         {\n             \"Corretor\":[\n                 \"Nome\",\n                 \"Codigo\",\n                 \"Tipo\",\n                 \"Idorigem\",\n                 \"Perfil\"\n              ]\n         }\n     ],\n     \"filter\":{\n         \"Referencia\":[\n             \"AX150553\"\n         ]\n     },\n     \"order\":{\n         \"Corretor\":\"ASC\"\n     }\n }\n```\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/imoveis/detalhes?key=xxxxxx&imovel=1AX2&pesquisa={\"fields\": [\"Codigo\",\"CodigoCorretor\",{\"Corretor\":[\"Nome\", \"Tipo\", \"Perfil\"]}],\"filter\":{\"Referencia\":[\"1AX2\"]}, \"order\":{\"Corretor\" : \"ASC\"}}\n```",
        "operationId": "get_rest_imoveis_detalhes",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "Dado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Parâmetros inválidos ou chave sem permissão",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Feature não Habilitada para o cliente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Atualizar um cadastro de imovel",
        "operationId": "put_rest_imoveis_detalhes_update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "cadastro": {
                    "description": "JSON com os dados do imóvel a ser atualizado",
                    "type": "string"
                  },
                  "imovel": {
                    "description": "Código do imóvel a ser atualizado obs:caso for enviado o parametro na URI 'office' torna-se obrigatório ultilizar o CODIGO",
                    "type": "integer"
                  },
                  "office": {
                    "description": "Este parametro vai na URI, para que o Office possa atualizar o imóvel forçando o CODIGO mesmo que configuração da imobiliária for PLACA",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Inserir um novo cadastro de imovel",
        "operationId": "post_rest_imoveis_detalhes_insert",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "cadastro": {
                    "description": "JSON com os dados do imóvel a ser cadastrado obs:caso for enviado o parametro na URI 'office' para atualizar, torna-se obrigatório ultilizar o CODIGO em cadastro[fields][Imovel]",
                    "type": "string"
                  },
                  "office": {
                    "description": "Este parametro vai na URI, para que o Office possa atualizar o imóvel forçando o CODIGO mesmo que configuração da imobiliária for PLACA",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Excluir um cadastro de imovel, seus corretores ou anexos",
        "operationId": "delete_rest_imoveis_detalhes_delete",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "delete_imovel": {
                    "description": "Confirmação se deve excluir o imóvel inteiro e seus dados associados",
                    "type": "string"
                  },
                  "corretor": {
                    "description": "Remover um ou mais corretores",
                    "type": "string"
                  },
                  "cadastro": {
                    "description": "JSON para Foto ou Anexo",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/compartilhamento/email": {
      "post": {
        "tags": [
          "Compartilhamento"
        ],
        "summary": "Dispara e-mail de compartilhamento de imóveis e registra históricos, parte do AppMobile",
        "operationId": "post_rest_send_compartilhamento_email",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "description": "Dados do email: {imoveis:{cod_imo:{Codigo:'',Moeda:'',ValorVendaPadrao:'',ValorLocacaoPadrao:'',ValorDiariaPadrao:''}},Cliente:[{Codigo:'',Nome:'',Email:''}],purpose:'',mensagem:''}",
                    "type": "string"
                  },
                  "mobile_user": {
                    "description": "Código do corretor logado",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/registrar/historico": {
      "post": {
        "tags": [
          "Atividades"
        ],
        "summary": "Registra histórico de atividades, parte do AppMobile",
        "operationId": "post_rest_registrar_historico",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "description": "Dados da atividade: {fields:{Cliente:'',Imovel:'',Corretor:'',Tipo:'',Assunto:'',Mensagem:'',Texto:''}}",
                    "type": "string"
                  },
                  "mobile_user": {
                    "description": "Código do corretor logado",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/fotos": {
      "put": {
        "tags": [
          "Fotos de imóvel"
        ],
        "summary": "Atualiza uma foto do imóvel",
        "description": "Atualização de uma foto do imóvel\nEste endpoint possibilita a edição dos detalhes de uma foto.\n\nÉ obrigatório informar o código do imóvel, da foto e os dados para edição.\n\n**ALERTA:** _Este endpoint não faz substituição nem edição da imagem, apenas dos campos listados abaixo._\n\n Valor do parâmetro \"cadastro\" para atualização de uma foto existente:\n```json\n{\n    \"fields\": {\n        \"Ordem\": 1,\n        \"Destaque\": \"Nao\",\n        \"ExibirNoSite\": \"Sim\",\n        \"Descricao\": \"...\",\n        \"Tipo\": \"\"\n    }\n}\n```",
        "operationId": "put_rest_imoveis_fotos_update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imovel": {
                    "description": "Referência do imóvel (Codigo)",
                    "type": "string"
                  },
                  "foto": {
                    "description": "Código da foto do imóvel (ImagemCodigo)",
                    "type": "integer"
                  },
                  "cadastro": {
                    "description": "Dados da foto a serem alterados",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Quando faltam parâmetros ou não há permissão para editar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Quando o imóvel não foi encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Fotos de imóvel"
        ],
        "summary": "Insere uma foto no imóvel",
        "description": "Inserindo uma foto no imóvel\nÉ obrigatório informar qual o código do imóvel no parâmetro \"imovel\" (string) e os dados da foto no parâmetro \"cadastro\" (json).\n\n Valor do parâmetro \"imovel\":\nO campo deve ser preenchido com o valor do \"Codigo\" do imóvel onde a foto será inserida.\n\n Valor do parâmetro \"cadastro\" para adição de uma foto:\n```json\n{\n    \"fields\": {\n        \"Foto\": \"https://...\",\n        \"Ordem\": 1,\n        \"Destaque\": \"Nao\",\n        \"ExibirNoSite\": \"Sim\",\n        \"Descricao\": \"...\",\n        \"Tipo\": \"\"\n    }\n}\n```\n\n Valor do parâmetro \"cadastro\" para adição de várias fotos:\n```json\n{\n    \"fields\": [\n        {\n            \"Foto\": \"https://...\",\n            \"Ordem\": 1,\n            \"Destaque\": \"Nao\",\n            \"ExibirNoSite\": \"Sim\",\n            \"Descricao\": \"...\",\n            \"Tipo\": \"\"\n        },\n        {\n            \"Foto\": \"https://...\",\n            \"Ordem\": 1,\n            \"Destaque\": \"Nao\",\n            \"ExibirNoSite\": \"Sim\",\n            \"Descricao\": \"...\",\n            \"Tipo\": \"\"\n        }\n    ]\n}\n```\n<!--\n Valor do parâmetro \"cadastro\" para chamada simplificada:\n```json\n{\n    \"fields\": [\n        {\"https://...\"},\n        {\"https://...\"}\n    ]\n}\n```\n-->",
        "operationId": "post_rest_imoveis_fotos_insert",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imovel": {
                    "description": "Referência do imóvel (Codigo)",
                    "type": "string"
                  },
                  "cadastro": {
                    "description": "Dados da foto a ser inserida",
                    "type": "string"
                  },
                  "async": {
                    "description": "Utilize para processamento assíncrono",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Quando faltam parâmetros ou não há permissão para editar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Quando o imóvel não foi encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Fotos de imóvel"
        ],
        "summary": "Deleta uma foto do imóvel",
        "description": "Exclusão de fotos do imóvel\nEste endpoint remove definitivamente uma foto do imóvel.\n\n**ALERTA:** _Esta operação não pode ser desfeita!_\n\nÉ obrigatório informar o código do imóvel e o código da foto.\n\nRecomendamos listar as fotos do imóvel através de um GET no `/imoveis/detalhes`, utilizando o campo \"Codigo\"(do imóvel) e \"ImagemCodigo\"(da foto).",
        "operationId": "delete_rest_imoveis_fotos_delete",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imovel": {
                    "description": "Referência do imóvel (Codigo)",
                    "type": "string"
                  },
                  "foto": {
                    "description": "Código da foto do imóvel (ImagemCodigo)",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Quando faltam parâmetros ou não há permissão para editar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Quando o imóvel não foi encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/fotos/ordem": {
      "put": {
        "tags": [
          "Fotos de imóvel"
        ],
        "summary": "Reordena todas as fotos de um imóvel",
        "description": "Ordenando fotos do imóvel\nEste endpoint possibilita reordenar (e corrigir ordenação) das fotos do imóvel.\n\nÉ necessário informar o código do imóvel e um array com os códigos das fotos na ordem desejada.\n\n**DICA:** Mesmo que você não informe todos os códigos, toda a sequência será reordenada, corrigindo valores duplicados ou ausentes.",
        "operationId": "put_rest_imoveis_fotos_reorder",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imovel": {
                    "description": "Referência do imóvel (Codigo)",
                    "type": "string"
                  },
                  "ordem": {
                    "description": "Códigos das fotos do imóvel na ordem desejada (ImagemCodigo)",
                    "type": "list"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Quando faltam parâmetros ou não há permissão para editar",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Quando o imóvel não foi encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/rdlead": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "summary": "Inserção de Leads vindos do POST da RD Station",
        "operationId": "post_rest_rdstation_leads",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Valida um login de usuario",
        "operationId": "post_rest_usuarios_login",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "description": "E-mail do usuário",
                    "type": "string"
                  },
                  "senha": {
                    "description": "Senha do usuário",
                    "type": "string"
                  },
                  "mobile_details": {
                    "description": "Objeto com o identificador único e modelo do dispositivo",
                    "type": "object"
                  },
                  "app_version": {
                    "description": "Versão do aplicativo",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Valida um login de usuario",
        "operationId": "post_rest_auth_login",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "description": "E-mail do usuário",
                    "type": "string"
                  },
                  "password": {
                    "description": "Senha do usuário",
                    "type": "string"
                  },
                  "mobile_details": {
                    "description": "Objeto com o identificador único e modelo do dispositivo",
                    "type": "object"
                  },
                  "app_version": {
                    "description": "Versão do aplicativo",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/dispositivos/mobile/listar": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Lista os dispositivos que tentam usar o Vista Mobile",
        "description": "Exclusão de um Imóvel e seus dados vinculados\n\nRemova um imóvel e seus dados associados.\n\nSerão excluídos apenas os seguintes registros:\n\n* imóvel;\n\n* anexos;\n\n* fotos;\n\n* vídeos;\n\n* bookmarks marcando este imóvel;\n\n* corretores vinculados ao imóvel;\n\n* prontuários (históricos do imóvel).\n\n**ALERTA:** _O imóvel não será excluído se houverem contratos associados a ele._\n\n Exemplo (**remove um Imóvel e seus dados**):\n```\n DELETE /imoveis/detalhes\nimovel=AP-171\ndelete_imovel=true\n```\n\n Exclusão de Corretor do imóvel\n\nUtilize este modo de requisição para remover corretores vinculados ao imóvel.\n\n Exemplo 1 (**remove um Corretor**):\n```\n DELETE /imoveis/detalhes\nimovel=AP-171\ncorretor=71\n```\n\n Exemplo 2 (**remove todos os Corretores**):\n```\n DELETE /imoveis/detalhes\nimovel=AP-171\ncorretor={\"REMOVER_TODOS\":true}\n```\n\n Exemplo 3 (**remove alguns Corretores**):\n```\n DELETE /imoveis/detalhes\nimovel=AP-171\ncorretor={\"CORRETOR_ID\":[\"71\",\"78\"]}\n```\n\n Exclusão de um Anexo\n\nRemove um anexo por vez.\n\n Exemplo (**remove um Anexo**):\n```\n DELETE /imoveis/detalhes\nimovel=AP-171\ncadastro={\"CodigoAnexo\":123}\n```\n\n Exclusão de uma Foto\n\nRemove uma foto por vez.\n\n**ALERTA:** _Recomendamos o uso do endpoint `/imoveis/fotos`._\n\n Exemplo (**remove uma Foto**):\n```\n DELETE /imoveis/detalhes\nimovel=AP-171\ncadastro={\"CodigoFoto\":321}\n```",
        "operationId": "get_rest_dispositivos_mobile",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os critérios de busca desejados",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/dispositivos/mobile/update": {
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Atualiza o dispositivo para liberar, bloquear ou desativar o acesso ao vista mobile",
        "operationId": "put_rest_dispositivos_mobile_update",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "device": {
                    "description": "Identificador único do dispositivo",
                    "type": "string"
                  },
                  "status": {
                    "description": "Status do dispositivo 1(bloqueado) | 2(liberado) | 3(desativado)",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/clientes/favoritarimovel": {
      "post": {
        "tags": [
          "Clientes"
        ],
        "summary": "Favorita o imóvel",
        "operationId": "post_rest_favoritar_imovel",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "imovel": {
                    "description": "Código do imóvel",
                    "type": "integer"
                  },
                  "cliente": {
                    "description": "Código do cliente",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quando a requisição retorna com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Quando existem erros",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Cliente ou imóvel não encontrado, ou a chave está sem permissão para editar o item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/gooddata/clientes/ativos": {
      "get": {
        "tags": [
          "Integrações"
        ],
        "summary": "Integração com GoodData",
        "operationId": "get_rest_gooddata_clientes_ativos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/proprietarios/feedback/info": {
      "get": {
        "tags": [
          "Proprietários"
        ],
        "summary": "etorna o relatório de informações do imóvel do Proprietário",
        "description": "Retorna o relatório de informações do imóvel do Proprietário\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/proprietarios/feedback/info?key=xxxxxx&imovel=54478518\n```",
        "operationId": "get_rest_proprietarios_feedback_info",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "imovel",
            "in": "query",
            "description": "Código do imóvel",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "periodicidade",
            "in": "query",
            "description": "Periodo do relatório Valores aceitos: 'Mensal' | 'Quinzenal' | 'Semanal' | Bimestral | Trimestral",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Parâmetros inválidos ou chave sem permissão",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/proprietarios/listar": {
      "get": {
        "tags": [
          "Proprietários"
        ],
        "summary": "Listar Proprietários",
        "description": "Listar Proprietários\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/proprietarios/detalhes?key=xxxxxx&pesquisa={\"fields\":[\"Codigo\",\"FotoCliente\"]}\n```",
        "operationId": "get_rest_proprietarios_listar",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os campos para pesquisa de anexos. Campos disponíveis ('fields'): 'Codigo', 'FotoCliente', 'Foto', 'CodigoAgencia', 'Corretor', 'Agencia', 'Nome', 'CPFCNPJ', 'CreditoSituacao', 'CreditoMensagem', 'CODIGO_CREDPAGO', 'PossuiAnexo', 'AnexoCodigoFinalidade', 'ContactScore', 'Relacionamentos', 'Anexos'",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "Dado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Parâmetros inválidos ou chave sem permissão",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "403": {
            "description": "Usuário com limitação de visualização de proprietários",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Feature não Habilitada para o cliente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/proprietarios/detalhes": {
      "get": {
        "tags": [
          "Proprietários"
        ],
        "summary": "Consultar detalhes do proprietários",
        "description": "Consultando Detalhes do Proprietários\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/proprietarios/detalhes?key=xxxxxx&pesquisa={\"fields\":[\"Codigo\",\"CodigoAgencia\"]}\n```",
        "operationId": "get_rest_proprietarios_detalhes",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "JSON com os campos para pesquisa de anexos. Campos disponíveis ('fields'): 'Codigo', 'CodigoAgencia', 'Agencia', 'Nome', 'Foto'",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "Dado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Parâmetros inválidos ou chave sem permissão",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Feature não Habilitada para o cliente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/proprietarios/inserir": {
      "post": {
        "tags": [
          "Proprietários"
        ],
        "summary": "Cadastrar Proprietários",
        "description": "Inserir Proprietários\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/proprietarios/inserir?key=xxxxxx&cadastro={\"fields\":[\"Codigo\",\"CodigoAgencia\"]}\n```",
        "operationId": "post_rest_proprietarios_inserir_post",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "pesquisa": {
                    "description": "JSON com os campos para pesquisa de anexos. Campos disponíveis ('fields'): 'Codigo', 'CodigoAgencia', 'Agencia', 'Nome', 'Foto'",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "Dado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Parâmetros inválidos ou chave sem permissão",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Feature não Habilitada para o cliente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/proprietarios/atualizar": {
      "put": {
        "tags": [
          "Proprietários"
        ],
        "summary": "Atualizar Proprietários",
        "description": "Atualizar Proprietários\n\n Exemplo de requisição\n```json\n  http://sandbox-rest.vistahost.com.br/proprietarios/atualizar?key=xxxxxx&cadastro={\"fields\":{\"FonePrincipal\":\"77 9988.8858\",\"VeiculoCaptacao\":\"Portal 10\",\"EmailResidencial\":\"teste1@teste.com.br\",\"CPFCNPJ\":\"33252468000\"}}\n```",
        "operationId": "put_rest_proprietarios_atualizar_put",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "proprietario": {
                    "description": "Código do proprietário",
                    "type": "string"
                  },
                  "cadastro": {
                    "description": "JSON com os campos para cadastro de proprietários.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "204": {
            "description": "Dado não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Parâmetros inválidos ou chave sem permissão",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Feature não Habilitada para o cliente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/imoveis/enderecos": {
      "get": {
        "tags": [
          "Imóveis"
        ],
        "summary": "Busca de endereços",
        "operationId": "get_rest_imoveis_enderecos",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "Expected response media type",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            }
          },
          {
            "name": "pesquisa",
            "in": "query",
            "description": "Filtro de busca",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Falha",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/lead": {
      "post": {
        "tags": [
          "Integrações"
        ],
        "summary": "Envio de leads por portais",
        "operationId": "post_rest_lead_portais",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "cadastro": {
                    "description": "JSON com os dados do lead: { ",
[...]
